<html>
<body>
   <table id="image">
      <tr>
         <td><%= image_tag("host.jpg") %></td>
		 <td><%= image_tag("invitee.jpg") %></td>
      </tr>
      <tr id = "text">
         <td><%= link_to "Host", new_event_path %></td>
		 <td><%= "Invitee" %></td>
      </tr>
   </table>
</body>
</html>
	