<html>
<head>
<h2>What makes us different!</h2>
</head>
<body>
	<p>Sharemycake was originally organized with an intention to not only have people celebrate special occasions but also to make them more meaningful. With so many people still not meeting their basic necessities and so many world wide issues on the rise, we felt that bringing in a nice way to help the betterment of the world and the needy would be something special.</p>
	<br>
	<p>We offer this wonderful opportunity for all those kind hearts across the globe to make your special day of celebration all the more eventful and meaningful. Create and organize your event, invite all your near and dear ones. Along with that, choose the organization that you'll want to make your event a part of.</p>
	<br>
	<p>A part of your gift amount will be generously donated to the organization you decide to donate and the rest is all yours to enjoy.</p>
</body> 
</html>