// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about
{
	body, p, h2
	{
  	  color: purple;
	  font-family: verdana, arial, helvetica, sans-serif;
	  font-size: 13px;
	  line-height: 18px;
	}
}
